/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootswatch/cyborg/variables";
@import "bootstrap";
@import "bootswatch/cyborg/bootswatch";

#logo {
    width: 50px;
    height: 50px;
}

#brandspace {
    padding: 0 !important;
}

#mainDotaImage {
    width: 50%;
    height: 50%;
}

#DotaImageHeader {
    background-image: url(http://cdn.dota2.com/apps/dota2/images/blogfiles/bg_thebetaisover.jpg);
    // background-image: url(http://i.imgur.com/Kgy8F.jpg);
    width: 100%;
    height: 292px;
    background-repeat: no-repeat;
    background-position: center;
    // background-size: cover;
    margin-top: 0px;
}
// #navRight {
//   float: right;
// }
